@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --medGray: #333;
  --lightGray: #eee;
  --TSize3: 1.3rem;
  --maxPage: 1245px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  background-color: var(--background);
  border-bottom: solid .5px var(--medGray);
  font-family: "Archivo", serif;

}

.page-container {
  display: flex;
  width: 100%;
  max-width: 1445px;
}

.flexx {
  display: flex;
  width: 100%;
}

.flex-end {
  display: flex;
  justify-content: end;
  width: 100%;
}

.body {
  display: flex;

  justify-content: center;
  width: 100%;
  align-items: center;
  box-sizing: border-box;


}

h1 {
  font-size: 23px;
  font-family: "Archivo", "serif";
  font-weight: 600;
  padding: 5px 23px;
}

#shine-text {
  color: #eee;
  cursor: pointer;
}

#shine-text:hover {
  text-shadow: 0px 0px 11px #d4d3f9;
}


h3 {
  font-size: var(--TSize3);
  font-weight: 600;
}


.list-style {
  display: flex;
  flex-direction: column;
  gap: 11px;
  /* list-style-type: decimal; */

}

.list-style li::marker {
  color: #643bf6;
  font-weight: bold;
  font-size: 1.25rem;

}

h1 {
  font-size: 1.8rem;
}